body {
  background-color: black;
  font-family: Verdana;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}
/* NOTE: Selector for secondary h1 sections */
.one {
  font-size: 42px;
  font-weight: 300;
}
